
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                 
                    <li role="presentation" >
                        <a routerLink="/"><b>Home</b></a>
                    </li>
                    <li role="presentation">
                            <a routerLink="/viewpizza"><b>Pizza</b></a>
                        </li>
                        <li role="presentation">
                                <a routerLink="/orderpizza"><b>Order</b></a>
                            </li>
                            <li role="presentation">
                                <a routerLink="/post"><b>Post</b></a>
                            </li>
                            <li role="presentation">
                                    <a routerLink="/showpizza"><b>Show</b></a>
                                </li>
                            
                            <li role="presentation">
                                    <a routerLink="/vieworder"><b>Order Details</b> </a>
                                </li>
                                <li role="presentation">
                                        <a routerLink="/user"><b>Sign Up</b> </a>
                                    </li>
                                    <li role="presentation">
                                            <a routerLink="/login">
                                                <b>Sign In</b></a>
                                        </li>
                                        <li role="presentation">
                                                <a routerLink="/contactus">
                                                    <b>Contact us</b></a>
                                            </li>
            </ul>
            
        </div>

    </div>

</div>

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>       
            </div>
        </div>
    </div>