<div class="row">
    <div class="col-md-3">
      <a href="http://localhost:4200/orderpizza" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
        <div class="pull-left">
            
          <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
          <br>
          <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
          <br>
          <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
        </div>
        <span class="pull-right">
          <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
         </span>

         <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >



         <button class="btn btn-primary">Order</button>
      </a>
      <!-- <app-pizza-item></app-pizza-item> -->
    </div>
  
    <div class="col-md-3">
        <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>

           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary" >Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
        <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>

           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary">Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
          <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
            <div class="pull-left">
                
              <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
              <br>
              <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
              <br>
              <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
            </div>
            <span class="pull-right">
              <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
             </span>

             <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
              <button class="btn btn-primary">Order</button>
          </a>
       
 </div>
       <hr>
 <div class="row">
    <div class="col-md-3">
      <a href="http://localhost:4200/orderpizza" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
        <div class="pull-left">
            
          <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
          <br>
          <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
          <br>
          <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
        </div>
        <span class="pull-right">
          <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
         </span>

         <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
         <button class="btn btn-primary">Order</button>
      </a>
      <!-- <app-pizza-item></app-pizza-item> -->
    </div>
  
    <div class="col-md-3">
        <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>
           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary">Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
        <a href="" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>
           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary">Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
          <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
            <div class="pull-left">
                
              <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
              <br>
              <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
              <br>
              <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
            </div>
            <span class="pull-right">
              <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
             </span>

             <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
              <button class="btn btn-primary">Order</button>
          </a>
       
 </div>
 <hr>
 <div class="row">
    <div class="col-md-3">
      <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
        <div class="pull-left">
            
          <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
          <br>
          <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
          <br>
          <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
        </div>
        <span class="pull-right">
          <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
         </span>

         <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
         <button class="btn btn-primary">Order</button>
      </a>
      <!-- <app-pizza-item></app-pizza-item> -->
    </div>
  
    <div class="col-md-3">
        <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>
           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary">Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
        <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
          <div class="pull-left">
              
            <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
            <br>
            <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
            <br>
            <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
          </div>
          <span class="pull-right">
            <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
           </span>
           <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
           <button class="btn btn-primary">Order</button>
        </a>
        <!-- <app-pizza-item></app-pizza-item> -->
      </div>

      <div class="col-md-3">
          <a href="http://localhost:4200/vieworder" class="list-group-item clearfix"  *ngFor="let mypizza of pizzas">
            <div class="pull-left">
                
              <h4 class="list-group-item-heading"><b>{{mypizza.name}}</b></h4>
              <br>
              <p class="list-group-item-text"><i>{{mypizza.description}}</i></p>
              <br>
              <h5 class="list-group-item-text"><strong>{{mypizza.price}}</strong></h5>
            </div>
            <span class="pull-right">
              <img src="{{mypizza.imgPath}}" alt="{{mypizza.name}}" class="img-responsive" style="max-height:50px">
             </span>
             <input type="image" name="submit"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
     alt="Add to Cart">
  <img alt="" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
              <button class="btn btn-primary">Order</button>

              







      





          </a>

       
 </div>

